 APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""  # secret configuration

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]  # pydantic lib property is to add multiple strings in a list, lib can read that
FILE_MAX_SIZE=10  # mbyte

FILE_DEFAULT_CHUNK_SIZE = 512000 # 512kb